.icon{
    width: 1450px;
    float: center;
    height: 50px;
}

.logo{
    font-size: 50px;
    font-family: 'Franklin Gothic Medium';
    text-align: center;
    float: center;
    padding-top: 10px;
}

.menu{
    width: 400px;
    float: left;
    height: 70px;
    margin-top: 25px;
}

ul{
    float: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 630px;
}

ul li{
    list-style: none;
    margin-left: 100px;
    font-size: 15px;
}

ul li a{
    font-weight: bolder;
    transition: 0.4 ease-in-out;
}

ul li a :hover{
    color:black
}
main{
    padding-top: 120px;
    justify-content: center;
    float: center;
    padding-left: 350px;
}

.goals{
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}